<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.choongang.board.mappers.BoardMapper">
    <resultMap id="boardMap" type="org.choongang.board.entities.Board">
        <result column="ART_NO" property="artNo" />
        <result column="ART_TITLE" property="artTitle" />
        <result column="USER_NO" property="userNo" />
        <result column="USER_NAME" property="userName" />
        <result column="ART_BODY" property="artBody" jdbcType="CLOB" javaType="java.lang.String"/>
        <result column="FILE_NAME" property="fileName" />
        <result column="READ_CNT" property="readCnt" />
        <result column="REG_DT" property="regDt" />
        <result column="MOD_DT" property="modDt" />

    </resultMap>
    <insert id="register">
        <selectKey keyProperty="artNo" order="BEFORE" resultType="long">
            SELECT SEQ_BOARD.NEXTVAL FROM DUAL
        </selectKey>
        INSERT INTO BOARD (ART_NO, ART_TITLE, USER_NO, ART_BODY)
        VALUES (#{artNo}, #{artTitle}, #{userNo}, #{artBody:CLOB} )
    </insert>
    <select id="get" resultMap="boardMap">
        SELECT b.ART_NO, b.ART_TITLE, b.USER_NO, m.USER_NAME, b.ART_BODY, b.FILE_NAME, b.READ_CNT, b.REG_DT, b.MOD_DT
        FROM BOARD b, MEMBER m WHERE b.USER_NO = m.USER_NO  AND b.ART_NO=#{artNo}
    </select>
    <select id="delete">
        DELETE
        FROM BOARD WHERE ART_NO=#{artNo}
    </select>
    <update id="update">
        UPDATE BOARD SET
            ART_TITLE = #{artTitle},
            ART_BODY = #{artBody}
        WHERE ART_NO = #{artNo}
    </update>
    <update id="updateCnt">
        UPDATE BOARD SET
        READ_CNT = READ_CNT + 1
        WHERE ART_NO = #{artNo}
    </update>
    <select id="getList" resultMap="boardMap">
        SELECT b.ART_NO, b.ART_TITLE, b.USER_NO, m.USER_NAME, b.ART_BODY, b.FILE_NAME, b.READ_CNT,
        b.REG_DT, b.MOD_DT
        FROM BOARD b, MEMBER m
        <where>
            b.USER_NO = m.USER_NO
            <if test="userName != null">
                AND m.USER_NAME like #{userName}
            </if>
            <if test="artTitle != null">
                AND b.ART_TITLE like #{artTitle}
            </if>
            <if test="artBody != null">
                AND b.artBody like #{sArtBody}
            </if>
         </where>
        ORDER BY b.ART_NO DESC
    </select>
    <select id="getListSearch" resultMap="boardMap">

        SELECT b.ART_NO, b.ART_TITLE, b.USER_NO, m.USER_NAME, b.ART_BODY, b.FILE_NAME, b.READ_CNT,
        b.REG_DT, b.MOD_DT
        FROM BOARD b, MEMBER m
        <where>
            b.USER_NO = m.USER_NO
            <if test="keyword != null" >
                <bind name="sKeyword" value="'%' + keyword + '%'" />
                AND ( b.ART_TITLE || m.USER_NAME || b.ART_BODY like  #{sKeyword})
                <!--AND ( b.ART_TITLE like #{sKeyword} OR m.USER_NAME like #{sKeyword} OR DBMS_LOB.INSTR(b.ART_BODY, #{keyword}) > 0)-->
            </if>

        </where>
        ORDER BY b.ART_NO DESC
    </select>
    <select id="getMaxUserNo">
        SELECT MAX(USER_NO) FROM MEMBER
    </select>
    <select id="getMaxArtNo">
        SELECT MAX(ART_NO) FROM BOARD
    </select>
    </mapper>