<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.choongang.board.mappers.BoardMapper">
    <resultMap id="boardMap" type="org.choongang.board.entities.Board">
        <result column="ART_NO" property="artNo" />
        <result column="ART_TITLE" property="artTitle" />
        <result column="USER_NO" property="userNo" />
        <result column="ART_BODY" property="artBody" jdbcType="CLOB" javaType="java.lang.String"/>
        <result column="FILE_NAME" property="fileName" />
        <result column="READ_CNT" property="readCnt" />
        <result column="REG_DT" property="regDt" />
        <result column="MOD_DT" property="modDt" />
        <result column="USER_NAME" property="userName" />
    </resultMap>
    <insert id="register">
        INSERT INTO BOARD (ART_NO, ART_TITLE, USER_NO, ART_BODY)
        VALUES (SEQ_BOARD.NEXTVAL, #{artTitle}, #{userNo}, #{artBody:CLOB} )
    </insert>
    <select id="get" resultMap="boardMap">
        SELECT b.ART_NO, b.ART_TITLE, b.USER_NO, m.USER_NAME, b.ART_BODY, b.FILE_NAME, b.READ_CNT, b.REG_DT, b.MOD_DT
        FROM BOARD b, MEMBER m WHERE b.USER_NO = m.USER_NO  AND b.ART_NO=#{artNo}
    </select>
    <insert id="update">
        UPDATE BOARD SET
            ART_TITLE = #{artTitle},
            ART_BODY = #{artBody}
        WHERE ART_NO = #{artNo}
    </insert>
    <select id="getList" resultMap="boardMap">
        SELECT b.ART_NO, b.ART_TITLE, b.USER_NO,  b.ART_BODY, b.FILE_NAME, b.READ_CNT,
        b.REG_DT, b.MOD_DT, m.USER_NAME
        FROM BOARD b, MEMBER m WHERE b.USER_NO = m.USER_NO
        ORDER BY b.ART_NO DESC
    </select>
    <!--
        <select id="exists" resultType="int">
            SELECT COUNT(*) FROM BOARD WHERE ART_NO=#{email}
        </select>

        <insert id="register">
            INSERT INTO BOARD (ART_NO, ART_TITLE, USER_NO, ART_BODY)
                VALUES (SEQ_BOARD.NEXTVAL, #{artTitle}, #{userNo}, #{artBody:CLOB} )
        </insert>
        <insert id="register2">
            INSERT INTO BOARD (ART_NO, ART_TITLE, USER_NO, ART_BODY, FILE_NAME)
            VALUES (SEQ_BOARD.NEXTVAL, #{artTitle}, #{userNo}, #{artBody:CLOB}, #{fileName} )
        </insert>
-->
    </mapper>