/* 마이페이지 공통 S */
.content-box3 {
    min-width: 550px;
    max-width: 800px;
    min-height: 30px;
    margin: 20px auto;
    padding: 30px;
}

.content-box3 h1 {
    font-size: 2.0rem;
    line-height: 1;
    padding: 0 10px 20px;
    margin: 0 0 20px;
    border-bottom: 2px solid #000;
}

.content-box3 h2 {
    font-size: 1.5rem;
    line-height: 1;
    padding: 0 10px 20px;
    margin: 0 0 20px;
    border-bottom: 2px solid #000;
}
/* 마이페이지 공통 E */

/* 사이드 주 메뉴 S */
main > .side-menu {
    width: 210px;
    background: #222;
}

main > .side-menu a {
    display: block;
    height: 65px;
    font-size: 1.35rem;
    color: #fff;
    padding: 0 30px;
    line-height: 62px;
    text-align: center;
}

main > .side-menu a + a {
    border-top: 3px solid #444;
}

main > .side-menu a:hover,
main > .side-menu a.on {
    background: #333;
}

/* 사이드 주 메뉴 E */

/* 회원정보 수정 S */
.tr, td {
    font-size: 1.0rem;
}

#frmMypage {
    width: 550px;
    margin: 0 auto;
}

#frmMypage input {
    height: 45px;
    width: 450px;
}

.modifybutton {
    background: #DC143C;
    border: 0;
    height: 50px;
    width: 50%;
    margin: 30px auto;
    display: block;
    font-size: 1.35rem;
    color: #fff;
}
/* 회원정보 수정 E */