/* 마이페이지 레이아웃 S */
main {
    display: flex;
}

main > aside {
    width: 300px;
}

main > section {
    flex-grow: 1;
    width: 0;
}

main > section > .inner::before {
    content: "마이페이지";
    display: block;
    text-align: center;
    font-size: 2.8em;
    font-weight: bold;
    font-family: 'Nunito', sans-serif;
    padding-bottom: 60px;
}

main > section > .inner {
    width: 1100px;
    margin: 0 auto;
}

/* 마이페이지 레이아웃 E */

/* 사이드 메뉴 S */
.side-menu {
    background: #222;
}

.side-menu a {
    display: block;
    height: 70px;
    font-size: 1.8rem;
    font-weight: bold;
    color: #fff;
    padding: 0 30px;
    line-height: 65px;
    text-align: center;
    font-family: 'Nunito', sans-serif;
}

.side-menu a + a {
    border-top: 3px solid #444;
}

.side-menu a:hover, .side-menu a.on {
    background: #333;
}
/* 사이드 메뉴 E */

/* 내용 영역 S */
.content-box3 {
    min-height: 30px;
    margin: 20px auto;
    padding: 30px;
}

.content-box3 h1 {
    font-size: 2.0rem;
    line-height: 1;
    padding: 0 10px 30px;
    margin: 0 0 30px;
    border-bottom: 2px solid #000;
    font-family: 'Nunito', sans-serif;
}
/* 내용 영역 E */

/* 회원정보 수정 S */
#frmMypage {
    width: 800px;
    margin: 0 auto;
}

#frmMypage input {
    height: 60px;
    width: 500px;
    font-size: 1.35rem;
}

#frmMypage table {
    border-spacing: 0;
}

#frmMypage table td {
    text-align: left;
    font-size: 1.5rem;
    font-weight: bold;
    font-family: 'Nunito', sans-serif;
    padding: 5px 10px;
}

#frmMypage table td:first-of-type {
    width: 180px;
}

.modify-button {
    background: #DC143C;
    border: 0;
    height: 50px;
    width: 350px;
    margin: 30px auto;
    display: block;
    font-size: 1.35rem;
    color: #fff;
}
/* 회원정보 수정 E */

/* 나의 띠부씰 S */
.pokemon-items {
    display: flex;
    flex-wrap: wrap;
}

.pokemon-items .item {
    width: calc(100% / 5);
    padding: 5px;
}

.pokemon-items .item  img {
    width: 100%;
}

.pokemon-items input[type='radio'] {
    display: none;
}

.pokemon-items label {
    padding: 15px;
    box-shadow: 2px 2px 5px #333;
    border-radius: 10px;
    cursor: pointer;
    display: block;
    background: #fff;
    text-align: left;
}

.pokemon-items input[type='radio']:checked + label {
    background: #333;
    color: #fff;
}

.pokemon-items input[type='radio']:checked + label * {
    color: #fff;
}

.pokemon-items label img {
    display: block;
    width: 100%;
    margin-bottom: 10px;
}

.pokemon-items .myp {
    display: inline-block;
    background: #fff;
    border-radius: 12px;
    box-shadow: 2px 2px 5px #333;
}

.pokemon-items .myp > span {
    display: inline-block;
    padding: 5px 7px;
}

.pokemon-items .myp > span + span {
    margin-left: 0px;
}

.pokemon-items .myp_seq {
    background: #ED9880;
    border-radius: 12px;
    width: 50px;
}

.pokemon-items label span {
    text-align: center;
    font-size: 1rem;
    font-weight: bold;
}

.button-action.update {
    background: #DC143C;
    border: 0;
    height: 50px;
    width: 350px;
    margin: 30px auto;
    display: block;
    font-size: 1.35rem;
    color: #fff;
}

.button-action.delete, .delete-all {
    background: #000;
    border: 0;
    height: 50px;
    width: 350px;
    margin: 30px auto;
    display: block;
    font-size: 1.35rem;
    color: #fff;
}
/* 나의 띠부씰 E */

/* 나의 프로필 S */
.myprofile-name {
    font-size: 1.75rem;
    font-weight: bold;
}

.myprofile {
    padding: 40px;
    box-shadow: 2px 2px 5px #333;
    border-radius: 50%;
    display: block;
    background: #fff;
    width: 450px;
    height: 450px;
    margin: 20px auto;
    overflow: hidden;

    font-size: 1.5rem;
    font-weight: bold;
}

.myprofile img {
    display: block;
    height: calc(100% - 20px);
    margin-top: 10px;
/* 나의 프로필 E */