<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.choongang.member.mappers.MemberMapper">
    <resultMap id="memberMap" type="org.choongang.member.entities.Member">
        <result column="USER_NO" property="userNo" />
        <result column="EMAIL" property="email" />
        <result column="PASSWORD" property="password" />
        <result column="USER_NAME" property="userName" />
        <result column="USER_TYPE" property="userType" />
        <result column="MY_POKEMON_SEQ" property="myPokemonSeq" />
        <result column="REG_DT" property="regDt" />
        <result column="MOD_DT" property="modDt" />
    </resultMap>

    <select id="get" resultMap="memberMap">
        SELECT USER_NO, EMAIL, PASSWORD, USER_NAME, USER_TYPE, MY_POKEMON_SEQ, REG_DT, MOD_DT FROM MEMBER WHERE EMAIL=#{email}
    </select>

    <select id="getList" resultMap="memberMap">
        SELECT D.USER_NO, D.EMAIL, D.PASSWORD, D.USER_NAME, D.USER_TYPE, D.MY_POKEMON_SEQ, D.REG_DT, D.MOD_DT FROM (SELECT ROWNUM NUM, M.* FROM MEMBER M
        <where>
            <if test="skey != null and !skey.equals('')">
                <bind name="keyword" value="'%' + _parameter.getSkey() + '%'" />
                AND M.EMAIL || M.USER_NAME LIKE #{keyword}
            </if>

            <if test="email != null and !email.equals('')">
                <bind name="sEmail" value="'%' + _parameter.getEmail() + '%'" />
                AND M.EMAIL LIKE #{sEmail}
            </if>

            <if test="userName != null and !userName.equals('')">
                <bind name="sUserName" value="'%' + _parameter.getUserName() + '%'" />
                AND M.USER_NAME LIKE #{sUserName}
            </if>
            <if test="userType != null and !userType.equals('')">
                AND M.USER_TYPE=#{userType}
            </if>
        </where>
        ORDER BY M.USER_NO DESC) D
        <![CDATA[
        WHERE D.NUM >= #{offset} AND D.NUM < #{endRows}
        ]]>
    </select>

    <select id="exists" resultType="int">
        SELECT COUNT(*) FROM MEMBER WHERE EMAIL=#{email}
    </select>

    <select id="getTotal" resultType="int">
        SELECT COUNT(*) FROM MEMBER
        <where>
            <if test="skey != null and !skey.equals('')">
                <bind name="keyword" value="'%' + _parameter.getSkey() + '%'" />
                AND EMAIL || USER_NAME LIKE #{keyword}
            </if>

            <if test="email != null and !email.equals('')">
                <bind name="sEmail" value="'%' + _parameter.getEmail() + '%'" />
                AND EMAIL LIKE #{sEmail}
            </if>

            <if test="userName != null and !userName.equals('')">
                <bind name="sUserName" value="'%' + _parameter.getUserName() + '%'" />
                AND USER_NAME LIKE #{sUserName}
            </if>
        </where>
    </select>

    <insert id="register">
        INSERT INTO MEMBER (USER_NO, EMAIL, PASSWORD, USER_TYPE, USER_NAME)
        VALUES (SEQ_MEMBER.NEXTVAL, #{email}, #{password}, #{userType}, #{userName})
    </insert>

    <update id="modify">
        UPDATE MEMBER
        <set>
            <if test="userName != null and !userName.equals('')">
                USER_NAME=#{userName},
            </if>
            <if test="password != null and !password.equals('')">
                PASSWORD=#{password},
            </if>
            <if test="userType != null">
                USER_TYPE=#{userType},
            </if>
            MY_POKEMON_SEQ=#{myPokemonSeq},
            MOD_DT = SYSDATE
        </set>
        WHERE email=#{email}
    </update>

    <delete id="delete">
        DELETE FROM MEMBER WHERE email=#{email}
    </delete>


</mapper>