/* 메인 레이아웃 공통 */
.layout-width {
    min-width: 1100px;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 10px;
}

.content-box {
    min-width: 550px;
    max-width: 700px;
    min-height: 650px;
    margin: 20px auto;
    box-shadow: 2px 2px 10px #414141;
    border-radius: 20px;
    padding: 30px;
}

.content-box h1 {
    font-size: 1.5rem;
    line-height: 1;
    padding: 0 10px 20px;
    margin: 0 0 20px;
    border-bottom: 2px solid #000;
}

/* 사이트 헤더 영역 S */
header .site-top {
    background: #f8f8f8;
    border-bottom: none;
}

header .site-top > .inner {
    display: flex;
    justify-content: space-between;
    height: 35px;
    align-items: center;
}

header .site-top i {
    font-size: 1.5rem;
    vertical-align: middle;
}

header .site-top a {
    line-height: 1;

}

header .site-top a:hover {
    text-decoration: underline;
}

header .site-top .right {
    padding-top: 125px;
    font-size: 15px;
    font-weight: bolder;
}

header .site-top .right a {
    margin-left: 10px;
    font-size: 1rem;
    font-weight: bold;
}

header .site-top .right .profileImage {
    height: 3em;
    width: 3em;
    border-radius: 50%;
    margin-right: 1em;
    vertical-align: middle;
}


header .logo-search {
    padding: 20px 0;
}


header .logo-search .top {
    display: flex;
    justify-content: flex-start;
}

header .logo-search .bottom {
    text-align: center;
}

header .search-box {
    display: flex;
    width: 300px;
    height: 45px;
}

header .search-box input[type='text'] {
    flex-grow: 1;
    height: 45px;
    border: 3px solid #000;
    border-right: 0;
    border-radius: 0;
}

header .search-box button {
    width: 45px;
    background: #000;
    border: 0;
    cursor: pointer;
}

header .search-box button i {
    color: #fff;
    font-size: 1.5rem;
}

header .logo > img {
   position: absolute;
     top: 6%;
     left: 50%;
     transform: translate(-50%, -50%);
   width: 10%;
   height: 10%;
}

nav {
    height: 65px;
    background: #f1d873;
}

nav > .inner {
    display: flex;
    justify-content: center;
    height: 45px;

}

nav > .inner a {
    font-size: 1.5rem;
    font-weight: bold;
    color: #fff;
    padding: 0 25px;
    line-height: 60px;
    text-shadow: 0.5px 0.5px 0 gray;
}

nav > .inner a:hover {
    color: #0178f8;
    background: #f5ee9d;
    height: 65px;
}
/* 사이트 헤더 영역 E */


/* 사이트 푸터 영역 S */
footer {
  margin-top: 100px; /* 위 마진 */
  min-height: 100px; /* 아래 마진 */
  display:flex;
  justify-content:space-between;
  background: #000000;
}

/* 하단 공통 */
footer div {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* 로고 */
    footer div:nth-child(1) {
    width: 20%;
    opacity: 0.5;
}

/* copyright */
    footer div:nth-child(2) {
    width: 60%;
    color: #777777;
}

/* SNS */
footer div:nth-child(3) {
    width: 20%;
    justify-content: space-around;
}

footer div:nth-child(3) img {
    border-radius: 50%;
}

/* 사이트 푸터 영역 E */

/* 페이징 공통 S */
.pagination {
    text-align: center;
    margin: 20px 0;
}
.pagination a {
    border: 1px solid #333;
    display: inline-block;
    padding: 5px 10px;
    border-radius: 3px;
}
.pagination a.on {
    background: #333;
    color: #fff;
}
/* 페이징 공통 E */

/* 페이징 공통 S */
.pagination {
    text-align: center;
    margin: 20px 0;
}
.pagination a {
    border: 1px solid #333;
    display: inline-block;
    padding: 5px 10px;
    border-radius: 3px;
}
.pagination a.on {
    background: #333;
    color: #fff;
}

/* 페이징 공통 S */
.pagination {
    text-align: center;
    margin: 20px 0;
}
.pagination a {
    border: 1px solid #333;
    display: inline-block;
    padding: 5px 10px;
    border-radius: 3px;
}
.pagination a.on {
    background: #333;
    color: #fff;
}
/* 페이징 공통 E */