
.popup-view{
    background: white;
}
footer {
    background: white;
}

.profileimg {
    width: 400px;
    height: 400px;
}

.name {
}

.name h1 {
    font-size: 1.5rem;
    margin: 0px;
    font-weight: bolder;
    letter-spacing: 5px;
}

.explain {
       display: inline-block;
       border: 2px solid #ddd;
       padding: 5px;
       background-color: #f9f9f9;
       border-radius: 5px;
       margin-top: 10px;
       font-size: 16px;
       line-height: 1.5;
       max-width: 100%;
}


.button-group {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
}

.button {
    width: 100px;
    height: 50px;
    background: #fff;
    text-align: center;
    border-radius: 8px;
    color: #333;
    font-weight: bolder;
    font-size: 15px;
    border: 1px solid #bfbfbf;
    cursor: pointer;
}
