.pokemon-list {
    display: flex;
    flex-wrap: wrap;
}

.pokemon-list > li {
    width: calc(100% / 5);

    padding: 0 10px 10px;

}

.pokemon-list > li a {
    display: block;
    box-shadow: 2px 2px 10px #333;
    border-radius: 10px;
    padding: 15px;
}

.pokemon-list > li img {
    width: 100%;
    display: block;
}

.pokemon-list > li .p-name {
    text-align: center;
    margin-top: 10px;
    font-size: 1.25rem;
    font-weight: bold;
}

.shiney-button {
  padding: 0.75em 2em;
  text-align: center;
  text-decoration: none;
  color: #f1d873;
  border: 2px solid $color;
  display: inline-block;
  border-radius: 0.3em;
  transition: all 0.2s ease-in-out;
  position: relative;
  overflow: hidden;
  &:before {
    content: "";
    background-color: rgba(255,255,255,0.5);
    height: 100%;
    width: 3em;
    display: block;
    position: absolute;
    top: 0;
    left: -10em;
    transform: skewX(-45deg) translateX(0);
    transition: none;
  }
  &:hover {
    background-color: #f1d873;
    color: #fff;
    border-bottom: 4px solid darken(#f1d873;, 10%);
    &:before {
      transform: skewX(-45deg) translateX(50em);
     transition: all 1s ease-in-out;
    }
  }
}

/* 포켓몬 도감 페이지 S */
.p-seq {
    text-align: left;
    font-size: 13px;
}

.p-types {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.p-types > span {
    width: 0;
    flex-grow: 1;
    color: #fff;
    border-radius: 3px;
    font-size: 0.9rem;
    padding: 3px 0;
}

.p-types > span+span {
    margin-left: 5px;
}
/* 포켓몬 도감 페이지 E */

/* 포켓몬 도감 내부 S */

/* 포켓몬 도감 내부 E */

/* 목록 검색 S */
#frmSearch {
    background: #393939;
    padding: 10px 1px;
    margin: 15px;
    border-radius: 50px;
}

#frmSearch > .inner {
    display: flex;
}

#frmSearch button {
    width: 60px;
    height: 56px;
    margin: 0px 30px 0px 0px;
    border-radius: 0px 15px 15px 0px;
}

#frmSearch .tit {
    width: 150px;
    line-height: 55px;
    font-size: 15px;
    color: #FFFFFF;
}

#frmSearch input[type='text'] {
    flex-grow: 1;
    background: #FFFFFF;
    border-color: #FFFFFF;
    height: 55px;
}
/* 목록 검색 E */