.pokemon-list {
    display: flex;
    flex-wrap: wrap;
}

.pokemon-list > li {
    width: calc(100% / 5);

    padding: 0 10px 10px;

}

.pokemon-list > li a {
    display: block;
    box-shadow: 2px 2px 10px #333;
    border-radius: 10px;
    padding: 15px;
}

.pokemon-list > li img {
    width: 100%;
    display: block;
}

.pokemon-list > li .p-name {
    text-align: center;
    margin-top: 10px;
    font-size: 1.25rem;
    font-weight: bold;
}

.shiney-button {
  padding: 0.75em 2em;
  text-align: center;
  text-decoration: none;
  color: #99CCFF;
  border: 2px solid $color;
  display: inline-block;
  border-radius: 0.3em;
  transition: all 0.2s ease-in-out;
  position: relative;
  overflow: hidden;
  &:before {
    content: "";
    background-color: rgba(255,255,255,0.5);
    height: 100%;
    width: 3em;
    display: block;
    position: absolute;
    top: 0;
    left: -10em;
    transform: skewX(-45deg) translateX(0);
    transition: none;
  }
  &:hover {
    background-color: #99CCFF;
    color: #fff;
    border-bottom: 4px solid darken(#99CCFF;, 10%);
    &:before {
      transform: skewX(-45deg) translateX(50em);
     transition: all 1s ease-in-out;
    }
  }
}

/* 포켓몬 도감 페이지 S */
.p-seq {
    text-align: left;
    font-size: 13px;
}

.p-types {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.p-types > span {
    width: 0;
    flex-grow: 1;
    color: #fff;
    border-radius: 3px;
    font-size: 0.9rem;
    padding: 3px 0;
}

.p-types > span+span {
    margin-left: 5px;
}
/* 포켓몬 도감 페이지 E */

/* 포켓몬 도감 내부 S */
.pokemon-view {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh; /* Viewport height for centering vertically */
}

.pokemon-container {
    display: flex;
    align-items: flex-start;
    border: 3px solid #356ABC;
    padding: 30px;
    width: 1100px;
    height: 600px;
    background-color: #f9f9f9;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.pokemon-image img {
    width: 400px;
    height: auto;
    margin: 60px 30px 60px 60px;
}

.pokemon-details {
    display: flex;
    flex-direction: column;
}

.pd-seq, .pd-name, .p-desc, .pd-types, .p-hei, .p-wei {
    font-family: 'Lato', sans-serif;
    margin: 0px 0px 0px 55px;
    text-align : left
}

.pd-seq {
    font-size: 22px;
    color: #999;
    font-weight: 500;
    padding: 10px 0px 0px;
}

.pd-name {
    margin-bottom: 50px;
    font-size: 45px;
    font-weight: 700;
}

.p-desc {
    font-size: 20px;
    font-weight: 400;
    line-height: 1.3;
    padding: 0px 0px 60px 0px;
}

.pd-types, .p-hei, .p-wei {
    font-size: 16px;
    font-weight: 500;
    padding: 20px 0px;
}
/* 포켓몬 도감 내부 E */

/* 목록 검색 S */
#frmSearch {
    background: #393939;
    padding: 10px 1px;
    margin: 15px;
    border-radius: 50px;
}

#frmSearch > .inner {
    display: flex;
}

#frmSearch button {
    width: 60px;
    height: 56px;
    margin: 0px 30px 0px 0px;
    border-radius: 0px 15px 15px 0px;
}

#frmSearch .tit {
    width: 150px;
    line-height: 55px;
    font-size: 15px;
    color: #FFFFFF;
}

#frmSearch input[type='text'] {
    flex-grow: 1;
    background: #FFFFFF;
    border-color: #FFFFFF;
    height: 55px;
}
/* 목록 검색 E */