.pokemon-list {
    display: flex;
    flex-wrap: wrap;
}

.pokemon-list > li {
    width: calc(100% / 5);

    padding: 0 10px 10px;

}

.pokemon-list > li a {
    display: block;
    box-shadow: 2px 2px 10px #333;
    border-radius: 10px;
    padding: 15px;
}

.pokemon-list > li img {
    width: 100%;
    display: block;
}

.pokemon-list > li .p-name {
    text-align: center;
    margin-top: 10px;
    font-size: 1.25rem;
    font-weight: bold;
}

/* styles.css */
.bubble-button {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background: #008CBA;
    color: white;
    border: none;
    outline: none;
    border-radius: 5px;
    transition: background 0.3s;
}

.bubble-button:hover {
    background: #005F73;
}

.bubble-button::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    opacity: 0;
    transform: scale(1);
    transform-origin: center;
    transition: transform 0.3s, opacity 0.3s;
}

.bubble-button:active::after {
    transform: scale(10);
    opacity: 0;
    transition: transform 0.5s, opacity 0.5s;
}
