.type-노말 {
    background-color: #A8A878;
}

.type-불 {
    background-color:#F08030;
}

.type-물 {
    background-color: #6890F0;
}

.type-풀 {
    background-color: #78C850;
}

.type-전기 {
    background-color: #F8D030;
}

.type-얼음 {
    background-color: #98D8D8;
}

.type-격투 {
    background-color: #C03028;
}

.type-독 {
    background-color: #A040A0;
}

.type-땅 {
    background-color: #E0C068;
}

.type-비행 {
    background-color: #A890F0;
}

.type-에스퍼 {
    background-color: #F85888;
}

.type-벌레 {
    background-color: #A8B820;
}

.type-바위 {
    background-color: #B8A038;
}

.type-고스트 {
    background-color: #705898;
}

.type-드래곤 {
    background-color: #7038F8;
}

.type-악 {
    background-color: #705848;
}

.type-강철 {
    background-color: #B8B8D0;
}

.type-페어리 {
    background-color: #EE99AC;
}