

main {
    min-height: 120vh;
    background: url("../../images/backimg.jpg") no-repeat center center;
    background-size: cover;
}

.content-box-wrapper {
    padding-top: 50px; /* Adjust this value to move the content box down */
}

.content-box h1 {
    font-family: 'Jua', sans-serif;
    font-size: 50px;
    font-weight: bolder;
    letter-spacing: 5px;
}

.content-box {
    background: rgba(255, 255, 255, 0.8);
    min-height: 700px;
    height: 700px;
    border-radius: 30px;
    padding: 20px;
    width: 800px;
    position: relative;

}

.content-box .nav {
    background: #fff;

}

.image-container img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.poke-button {
    display: block;
    width: 200px;
    height: 70px;
    margin: 50px auto;
    background: #58f358;
    text-align: center;
    border-radius: 13px;
    color: #fff;
    font-weight: bolder;
    font-size: 22px;
    line-height: 60px;
    text-decoration: none;
    transition: all 0.3s ease-out;
    border: none;
    outline: none;
}

.poke-button:hover {
    background: #01ee97;
    border: none;
    outline: none;
}